body{
    margin:0;
    padding:20px;
    background:#f2f5f9;
    font-family:Arial,sans-serif;
}

.container{
    max-width:450px;
    margin:auto;
    background:#fff;
    padding:20px;
    border-radius:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.logo{
    width:180px;
    display:block;
    margin:0 auto 15px;
}

h1{
    text-align:center;
    color:#0d47a1;
    margin:5px 0;
    font-size:34px;
    font-weight:bold;
}

h2{
    text-align:center;
    color:#ff6600;
    margin:5px 0 15px;
    font-size:28px;
}

.tagline{
    text-align:center;
    font-size:22px;
    margin-bottom:20px;
}

label{
    display:block;
    margin-top:15px;
    margin-bottom:8px;
    font-size:20px;
    font-weight:bold;
}

input,
select{
    width:100%;
    padding:15px;
    border:2px solid #ccc;
    border-radius:12px;
    font-size:20px;
    box-sizing:border-box;
}

button{
    width:100%;
    margin-top:25px;
    padding:18px;
    background:#0b8f3b;
    color:#fff;
    border:none;
    border-radius:12px;
    font-size:24px;
    font-weight:bold;
    cursor:pointer;
}

button:hover{
    background:#08752f;
}

#successBox{
    margin-top:25px;
    padding:20px;
    border:3px solid green;
    border-radius:15px;
    background:#eaffea;
    text-align:center;
}

#bookingId{
    background:#0d47a1;
    color:#fff;
    padding:12px;
    border-radius:10px;
    font-size:26px;
    margin:15px 0;
}
