*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Noto Sans Telugu',sans-serif;
}

body{
background:#f2f5f7;
padding:20px;
}

.container{
max-width:450px;
margin:auto;
background:#fff;
padding:20px;
border-radius:20px;
box-shadow:0 5px 20px rgba(0,0,0,.15);
}

.logo{
width:150px;
height:150px;
display:block;
margin:auto;
border-radius:50%;
margin-bottom:15px;
}

h1{
text-align:center;
color:#0b4f8c;
font-size:26px;
margin-bottom:10px;
}

.tagline{
text-align:center;
margin-bottom:20px;
font-size:16px;
line-height:1.7;
}

label{
display:block;
font-weight:bold;
margin-top:12px;
margin-bottom:6px;
}

input,select{
width:100%;
padding:12px;
border:1px solid #ccc;
border-radius:10px;
font-size:16px;
}

#name{
text-transform:uppercase;
font-weight:bold;
font-size:18px;
}

button{
width:100%;
padding:15px;
margin-top:20px;
background:#0b7d36;
color:white;
font-size:18px;
font-weight:bold;
border:none;
border-radius:12px;
cursor:pointer;
}

button:hover{
background:#086329;
}

#successBox{
display:none;
margin-top:20px;
padding:20px;
background:#e8fff0;
border-radius:15px;
border:2px solid #0b7d36;
text-align:center;
}

.booking-id{
background:#0b4f8c;
color:white;
padding:15px;
border-radius:12px;
margin:15px 0;
font-weight:bold;
}

#bookingId{
font-size:24px;
color:#ffd700;
margin-top:8px;
}

#bookingResult{
font-size:17px;
font-weight:bold;
line-height:1.8;
}
